.prefectureCheckboxes{
  width: 80vw;
  margin: auto;
}

.prefectureCheckbox{
  font-size: max(1.5vh, 1.5vw);
  display: inline-block;
  white-space: nowrap;
  width: min(16vh, 16vw);
  margin: 0 min(2vh, 2vw);
}